---
# Only the main Sass file needs front matter (the dashes are enough)
---

$background-color: #F5F5F5; /* light grey background across site */

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-header {
 background-color: darkgreen;
}
.site-title, .page-link {
 color: #adadad !important; /* medium grey */
}
.post-title {
 color: #adadad; 	/* medium grey */
}